
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

input , select {
  border: 1px solid rgb(173, 165, 165);
  border-radius: 5px;
  margin: 5px;
  padding: 2px;
}


label{
  font-weight: 400;
}